body {
    background-image: url(images/home.jpg);
    margin: 0%;
    padding: 0%;
    color: #ededed;
    background-size: cover;
}
.main {
    background-color: rgba(0, 0, 0, 0.700);
    background-size: cover;
    margin-bottom: 0;
}
.header {
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 100;
    background: linear-gradient(to right,#a894ec 15%, #38fe01 35%, rgb(144, 172, 238));
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: gradient 5s linear infinite;
    overflow: hidden;
}

@keyframes gradient {
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 30%;
    }
    100%{
        background-position: 0% 70%;
    }
}    

.navbar a {
    font-size: 25px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 100;
    margin-right: 40px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: rgb(216, 237, 25);
}
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-content {
    width: 690px;
    
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom:0px;
    background: linear-gradient(to right,#3e05f8 15%, #fe1601 35%, rgb(60, 244, 4));
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: gradient 5s linear infinite;
    overflow: hidden;
}

@keyframes gradient {
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 30%;
    }
    100%{
        background-position: 0% 70%;
    }

}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #f06400ae;
    margin-top: 10px;
    margin-bottom: 5px;
}
.home-content p {
    font-size: 25px;
    margin: 0px 0px 40px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    float: left;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 25px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
    overflow: hidden;
}
.btn-box a:hover {
    border: 2px solid black;
    color: black;
    box-shadow: 0 0 5px #8638fb,0 0 10px #00abf0;
    background-color: #00abf0;
}

.photo {
    height: auto;
    width: 19%;
    float: right;
    border-radius: 50%;
    border: 2px solid #2a065f;
    box-shadow: 0 0 30px #8638fb,0 0 10px #00abf0;
}